---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1>AaRon+eRiKa<3</h1>

        <div class="social-links">
            <a target="_blank" href="https://www.instagram.com/xx_aaron_erika_xx">instagram</a>
            <a target="_blank" href="https://open.spotify.com/intl-de/artist/1IZZeL0ylPGmZlomCuVzXJ?si=UXlEIxg6SNG1bn89RPCSNw">spotify</a>
            <a target="_blank" href="https://aaronerika.bandcamp.com">bandcamp</a>
            <a target="_blank" href="https://drive.google.com/drive/folders/1GwIzbjxxkbSLlQfv0d8AmRoVmMlS_AN2?usp=sharing">press</a>
        </div>

        <div class="bio">
            <p>we are a hyperpop band from vienna, austria.</p>
            <p>currently recording our first album.</p>
            <p><b>XOXO</b></p>
        </div>

        <h2>news</h2>
        <div class="news-container">
            <div class="news-item">
                <p>08.12.2023</p>
                <h3><b>concert: </b>semmelweisklinik</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">dont click here</a>
                </div>
            </div>

            <div class="news-item single">
                <p>24.11.2023</p>
                <h3><b>new single: </b> Bad Feminist</h3>
                <div>
                    <a href="https://distrokid.com/hyperfollow/aaronerika3/bad-feminist"> presave </a>
                    <a href=""> listen</a>
                </div>
            </div>

            <div class="news-item">
                <p>22.11.2023</p>
                <h3><b>concert: </b>tunnel vienna</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">click here to earn free coins</a>
                </div>
            </div>

            <div class="news-item">
                <p>08.10.2023</p>
                <h3><b>concert: </b>ministry of artists vienna</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">spicy pics</a>
                </div>
            </div>

            <div class="news-item">
                <p>26.05.2023</p>
                <h3><b>concert: </b>semmelweis klinik vienna</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx">download now</a>
                </div>
            </div>

            <div class="news-item">
                <p>14.1.2023</p>
                <h3><b>concert: </b>toytopia vienna</h3>
                <div>
                    <a href="https://">instagram</a>
                </div>
            </div>

            <div class="news-item">
                <p>20.12.2022</p>
                <h3><b>concert: </b>p.m.k. innsbruck</h3>
                <div>
                    <a href="https://www.instagram.com/xx_aaron_erika_xx"> event</a>
                </div>
            </div>
        </div>
        <footer>
            website by aaron abebe
        </footer>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 10px;
        width: 90%;
        height: 100vh;
        max-width: calc(100% - 2rem);
        font-size: 17px;
        line-height: 1.6;
        scrollbar-color: #00f #f00;
        overflow-y: scroll;
    }

    footer {
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background: #ff0;
    }

    .social-links {
        display: flex;
        background: red;
        justify-content: space-evenly;
        flex-direction:column;
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
        background: red;
        color: blue;
        padding: 10px;
        margin: 0;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: underline;
        width: fit-content;
        background: red;
    }

    .bio {
        background: #ff0000;
    }

    .news-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news-item {
        padding-top: 1rem;
        border-bottom: 2px dashed;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
        background: red;
    }

    .single {
        background: #ff0;
    }

    p {
        margin: 0;
        padding: 10px;
    }

    h3 {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 500;
    }

    a {
        font-size: 1rem;
        font-weight: 500;
        border: 2px solid;
        padding: 10px;
        color: #00f;
        background: #ff0;
        margin-right: 15px;
        display: inline-block;
    }

    a:hover {
        color: #ff0;
        background: #f00;
        cursor: pointer;
        transform: scale(1.2);
    }

    summary {
        font-size: 2rem;
        font-weight: 100;
    }


    /* scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @media screen and (min-width: 600px) {
        main {
            width: 50%;
            padding: 1rem;
        }

        .social-links {
            flex-direction: row;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }

        .news-item {
            width: 60%;
        }

        .news-container {
            width: 100%;
        }

        a {
            font-size: 1rem;
        }

        summary {
            font-size: 1rem;
        }
    }

</style>
