---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <p>we used to be called</p>
        <h1>AaRoN+eRiKa<3</h1>
        <p>now we are called</p>
        <h1>Cute Aggression</h1>
        <p>check out our socials:</p>

        <div class="social-links">
            <a target="_blank" href="https://cuteaggression.lol">new website</a>
            <a target="_blank" href="https://www.instagram.com/cute_aggresion_music">instagram</a>
            <a target="_blank" href="https://open.spotify.com/intl-de/artist/1IZZeL0ylPGmZlomCuVzXJ?si=UXlEIxg6SNG1bn89RPCSNw">spotify</a>
            <a target="_blank" href="https://cuteaggressionmusic.bandcamp.com">bandcamp</a>
            <a target="_blank" href="https://drive.google.com/drive/folders/1GwIzbjxxkbSLlQfv0d8AmRoVmMlS_AN2?usp=sharing">press</a>
            <a target="_blank" href="mailto:erika.schweighofer@gmail.com">contact</a>
        </div>


        <footer>
            website by aaron abebe
        </footer>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 10px;
        width: 90%;
        height: 80vh;
        max-width: calc(100% - 2rem);
        font-size: 17px;
        line-height: 1.6;
        scrollbar-color: #00f #f00;
        overflow-y: scroll;
    }

    footer {
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        background: #ff0;
    }

    .social-links {
        display: flex;
        background: red;
        justify-content: space-evenly;
        flex-direction:column;
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
        color: blue;
        padding: 10px;
        background: red;
        margin: 0;
    }


    p {
        margin: 0;
        padding: 10px;
        background: red;
    }

    a {
        font-size: 1rem;
        font-weight: 500;
        border: 2px solid;
        padding: 10px;
        color: #00f;
        background: #ff0;
        margin-right: 15px;
        display: inline-block;
    }

    a:hover {
        color: #ff0;
        background: #f00;
        cursor: pointer;
        transform: scale(1.2);
    }

    @media screen and (min-width: 600px) {
        main {
            width: 50%;
            padding: 1rem;
        }

        .social-links {
            flex-direction: row;
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }

        .news-item {
            width: 60%;
        }

        .news-container {
            width: 100%;
        }

        a {
            font-size: 1rem;
        }

        summary {
            font-size: 1rem;
        }
    }

</style>
